footer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-me {
  text-align: center;
  padding-bottom: 10vh;
  font-size: 40px;
}
.contact-me h3 {
  margin-bottom: 3vh ;
}
.contact-me p {
  margin-top: 30px;
  color: $accent-color;
}
.contact-me a {
  color: $accent-color;
  font-size: 30px;
}

.contact-links {
  width: 50vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 10px solid;
  border-bottom: 10px solid;
  justify-content: space-evenly;
}
