.project{
  display: flex;
  margin: 0px 0px 15vh 0px;
}
.project-techstack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-tech {
  margin: 6px;
  font-weight: 300;
  color: $accent-color;
  font-size: 18px;
}
.reg-wrap{
  flex-wrap: wrap-reverse;
}
.split{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
}
.fade-in{
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.fade-in.appear{
  opacity: 1;
}
.project-name{
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: $main-gray;
  margin-bottom: 16px;
}
.project-words{
  max-width: 50%;
  align-items: stretch;
  font-size: 18px;
  padding: 16px;
}
.project-description-links{
  font-size: 20px;
  justify-content: space-evenly;
  display: flex;
  margin: 20px;
}
.project-image{
  width: 25vw;
  height: 25vw;
  min-height: 300px;
  min-width: 300px;
  border-radius: 10px;
}
.project-link{
  color: $accent-color;
}
.swiper-button-prev,.swiper-button-next{
  color: $accent-color !important;
}
.swiper-pagination-bullet-active{
  background-color: $accent-color !important;
}

@media (max-width:1070px){
  .project{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .reg-wrap{
    flex-direction: column-reverse;
  }
  .project-words{
    margin-top: 20px;
    width: 80vw;
    max-width: 100%;
  }
}