:root {
  --color2: #000000;
  --color1: #ffffff;
  --accentColor: #357266;
}

/* CSS RESETS */
*{
  margin: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}

/* ----------------Sitewide Styles---------------- */
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color2);
  background-color: var(--color1);
}
.animate{
  animation: fadeInAnimation ease 2s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;  
}

/* ------------Navbar-------------- */
nav{
  position: fixed;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: var(--color1);
  color: var(--color2);
  align-items: center;
  justify-content:space-between;
  z-index: 99;
  transition: all 500ms;
}
.nav-link{
  padding: 15px;
  transition: background .2s;
}
.nav-link:hover{
  background-color: var(--accentColor);
  border-radius: 5px;
}

.personalLogo{
  width: 60px;
  height: auto;
  fill: black;
  stroke: black;
}
.dark-logo{
  animation: fill 1s ease forwards;
}
.light-logo{
  animation: reverse-fill 2s ease forwards;
}

.navbar-logo{
  margin-left: 4vw;
}
.navbar-links{
  margin-right:4vw;
}
.light-nav{
  background-color: transparent;
  color: var(--color2);
}
.dark-nav{
  background-color: var(--color2);
  color: var(--color1);
}
.nav_line{
  border-left: 1px solid var(--color1);
}

/* ------------Head Section-------------- */
#main{
  height: 100vh;
  width: 100vw;
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-title{
  font-size: 4vw;
  display: inline;
  text-align: center;
  padding: 10px;
  color: var(--color1);
  background-color: var(--color2);
  z-index: 999;
  padding: 6%;
}
.parallax_logo{
  width:100px;
  height:auto;
  position: absolute;
  z-index: 0;
}
section{
  padding-top: 60px;
  max-width: 1500px;
}

/* ------------Project Section-------------- */
.projects{
  display: flex;
  flex-direction: column;
  /* margin: 0 100px; */
}
.project{
  display: flex;
  margin: 50px 0px;
}
.projects-title{
  font-size: 4rem;
  text-align: center;
}
.project-techstack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-techstack:last-child{
  background-color: #357266;
}
.project-tech {
  margin: 8px;
  font-weight: 300;
  color: var(--accentColor);
}
.reg-wrap{
  flex-wrap: wrap-reverse;
}
.split{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
}
.fade-in{
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.fade-in.appear{
  opacity: 1;
}
.project-name{
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--accentColor);
}
.project-words{
  max-width: 50%;
  align-items: stretch;
}
.project-description-links{
  margin: 20px;
}
.project-image{
  width: 25vw;
  height: 25vw;
  min-height: 300px;
  min-width: 300px;
  border-radius: 10px;
}
.project-link{
  color: var(--accentColor);
}
@media (max-width:1070px){
  .project{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .reg-wrap{
    flex-direction: column-reverse;
  }
  .project-words{
    margin-top: 20px;
    width: 80vw;
    max-width: 100%;
  }
}
/* ----------------education_experience---------------- */

.education_experience{
  display: flex;
}

.subsection{
  margin: 20px;
  width: 44vw;
  padding: 0px 20px;
}
.left_border{
  border-left: 1px solid var(--accentColor);
}
.logo{
  margin: 10px;
  transition: all .2s ease-in-out;
  width: 70px;
  height: auto;
  filter: grayscale(100%);
}

.logo:hover { 
  transform: scale(1.1);
  filter: grayscale(0%);
  z-index: 998;
}

@media (max-width:500px){
  .education_experience{
    flex-direction: column;
  }
  .subsection{
    width: 98vw;
  }
  .left_border{
    border: none;
  }
  .bottom_border{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--accentColor);
  }
}

/* ----------------Footer---------------- */
footer{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-me{
  text-align: center;
  padding-bottom: 10vh;
  font-size: 40px;
}
.contact-me p{
  margin-top: 30px;
  color: var(--accentColor);
}
.contact-me a{
  color: var(--accentColor);
  font-size: 30px;
}

.contact-links{
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 20px solid;
  border-bottom: 20px solid;
  justify-content: space-evenly;
}

/* Animations */
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
}
@keyframes fill{
  to{
    fill: #ffffff;
    stroke: #ffffff;
  }
}
@keyframes reverse-fill{
  to{
    fill: black;
    stroke: black;
  }
}

